body {
    text-align: center;
    background-color: #987303;
    background-image: linear-gradient(TO TOP, rgb(44, 124, 236)75%, rgb(255, 191, 0)50%);
    min-height: 100svh;
  }
  #title{
    margin-top: 5px;
    color: red;
    text-shadow: 5px 5px blue;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .a {
    background-image: url("./image/tom.webp");
    background-size: contain;
    background-position: center;
  }
  
  .s {
    background-image: url("./image/tom.webp");
    background-size: contain;
    background-position: center;
  }
  
  .d {
    background-image: url("./image/tom.webp");
    background-size: contain;
    background-position: center;
  }
  
  .j {
    background-image: url("./image/snare.jpg");
    background-size: contain;
    background-position: center;
  }
  
  .k {
    background-image: url("./image/cymble.jpg");
    background-size: contain;
    background-position: center;
  }
  
  .l {
    background-image: url("./image/kick-drum.jpg");
    background-size: contain;
    background-position: center;
  }
  
  .set {
    margin: auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #84037e;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }